body{
    background-color: lightgray;
}
form{
    border: 1px solid;
    padding: 55px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 25vh;
    transform: translateY(-50%);
    background: aliceblue;
}
div.form, div.title{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
input[type="submit"]{
    margin-left: 84%;
}
button a {
    color: white;
}